body {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  color: rgb(26, 13, 13);
  height: 100vh;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  grid-template-areas: "header header" "aside content " "footer footer";
}
header {
  grid-area: header;
}
header #photo1 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.content {
  grid-area: content;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
}
 fieldset{
  border-radius: 20px;
}
aside {
  grid-area: aside;
  text-align: left;
}
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  border: 1px solid grey;
  list-style: none;
  border-radius: 20px;
}
footer ul {
  list-style-type: none;
}
.aside-1 {
  grid-area: aside-1;
}
.aside-2 {
  grid-area: aside-2;
}
.qualite,
.langues {
  text-align: left;
  border-radius: 20px;
  border: 1px solid gray;
  margin: 20px 20px;
  padding: 20px 20px;
}
.langues {
  text-align: left;
  border-radius: 20px;
  border: 1px solid gray;
}
legend {
  white-space: nowrap;
}

/* Mobile view */
@media screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .main .content-1,
  .content-2 {
    width: 450px;
  }
  fieldset {
    width: 450px;
    border-radius: 30px;
  }
  header {
    width: 450px;
    border-radius: 30px;
  }

  footer {
    border: none;
  }
  footer  ul li{
    list-style-type:square;
  }

}
